#header {
  background-color: #EDD9B4;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: inline;
  max-width: 960px;
}


#fishImage {
  max-width: 13%;
  background: transparent;
}
a:link {
  color:#FF530D;
}
.nav-bar li {
  display: inline;
  list-style: none;
  font-size: 1.8em;
  background: inherit;
  font-family: cursive;
  max-width: 100%;
  background-color: inherit;;
  text-align: center;
}
.nav-bar li a {
  text-decoration: none;
  color: inherit;
}
.shift-home {
  margin-left: 550px;
  margin-right: 7px;
  padding: 5px;
  border: 1px solid #FF530D;
  box-shadow: 10px 10px 10px #888888;
  -moz-border-radius: 100px / 100px;
  -webkit-border-radius: 100px / 100px;
  border-radius: 100px / 100px;
  width: 100%;
}
.shift-nav-bar {
  margin-right: 7px;
  margin-left: 7px;
  padding: 5px;
  border: 1px solid #FF530D;
  box-shadow: 10px 10px 10px #888888;
  -moz-border-radius: 100px / 100px;
  -webkit-border-radius: 100px / 100px;
  border-radius: 100px / 100px;
  width: 100%;
}
.fishesBorder {
  color: grey;
  border: 3px solid grey;
  margin: 4px;
}

body {
  background-color: #b4ffff;
  margin: 0px;
  text-align: center;
}
#bigPicture {
  width: 100%;
  opacity: 0.7;
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.fish-line img {
  display: inline;
  max-width: 3%;
  margin: 0px;
  padding: 0px;
}

.fish-line2 img {
  display: inline;
  max-width: 3%;
  margin: 0px;
  padding: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

h1 {
  font-family: monospace;
  font-size: 100px;
  position: absolute;
  top: 200px;
  left: 170px;
  font-style: italic;
  color: #FF530D;
  text-shadow: 2px 2px black;
}

footer ul {
  list-style: none;
  size: 15px;
  font-family: fantasy;
  display: block;
}

.footer-main-names  {
  display: block;
  float: left;
}
.lists-header {
  text:20px;
  font-style: bold;
}

/*-------------------------------------------------------------------------------------------------*/

#first-form {
  background: black;
  color: white;
  font-family: fantasy;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-style: dashed;
  border-radius: 50px;
}

#fieldset{
  border-style: dashed;
}

#legend {
  border: 1px;
}
